@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-bg{
    background-image: url("./assets/bg1.jpg");
    background-size: cover;
}

.chat-bg1{
    background-image: url("./assets/chatbg.jpg");
    background-size: cover;
}